
/* ---------------- all ---------------- */

body {
    background-attachment: fixed;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-color: white;
    font-family: sans-serif;
    padding-left: 0.5%;
    background-size: 90vh;
}

.mascots_background {
    background-image: url(images/backgrounds/zabivaka.png);
    background-size: 40%;
}

.champions_background {
    background-image: url(images/backgrounds/pele.png);
}

audio {
    display: none;
}

.title h1 {
    color: green;
    text-align: center;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

/* ---------------- modal ---------------- */

.challenge {
    background: rgba(225, 225, 225, 0.6);
    height: 50vh;
    width: 50vw;
    border-radius: 35px;
    position: fixed;
    top: 20%;
    left: 25%;
    border: 5px solid green;
}

.challenge_not_visible {
    display: none;
}

.buttons {
    height: 15%;
    padding-left: 3%;
}

.easy, .medium, .hard {
    display: inline-block;
    height: 80%;
    width: 30%;
    text-align: center;
    border-radius: 20px;
    padding-top: 3%;
    margin: 0 2% 0 0;
    font-size: 140%;
    background: green;
    color: white;
}

.challenge h1 {
    padding: 9% 0 6% 0;
    text-align: center;
}

.soon {
    text-align: center;
    font-size: 100px;
    font-weight: 900;
    display: block;
    margin: 0 auto;
}

/* ---------------- stats mascots ---------------- */

.stats {
    height: 85px;
    width: 800px;
    border: 5px solid red;
    border-radius: 25px;
    color: red;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position: absolute;
    left: 40%;
    top: 86%;
}

button {
    background: red;
    color: white;
    border: none;
    border-radius: 25px;
}

.games_played, .attempts, .accuracy {

}

/* ---------------- stats champions ---------------- */



/* ---------------- cards ---------------- */

.front, .back {
    position: absolute;
}

.back .flip {
    display: none;
}

/* ---------------- easy game ---------------- */

.mascot_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 1vh;
    margin-right: 1vw;
    float: right;
}

.mascot_card {
    width: 10vw;
    height: 24vh;
    position: relative;
}

.mascot_card img {
    width: 9.5vw;
    height: 23vh;
}

/* ---------------- medium game ---------------- */

.champion_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 1vh;
    margin-right: 1vw;
    float: right;
}

.champion_card {
    width: 16.5vw;
    height: 15vh;
    position: relative;
}

.champion_card img {
    width: 14.5vw;
    height: 14.5vh;
    border-radius: 25px;
}

.result {
    z-index: 1;
    height: 150px;
    width: 400px;
    background: white;
    position: absolute;
    left: 35%;
    top: 30%;
    border: 5px solid green;
    border-radius: 25px;
    visibility: hidden;
    font-size: 40px;
    text-align: center;
    padding: 5px;
}

/* ---------------- difficult game ---------------- */

.trivia_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 1vh;
    margin-right: 1vw;
    float: right;
}

.trivia_card {
    width: 10vw;
    height: 24vh;
    position: relative;
}

.trivia_card img {
    width: 9.5vw;
    height: 23vh;
    border-radius: 25px;
}