/* -------------------- ALL -------------------- */

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
}

.mascots_background, .champions_background {
    background-attachment: fixed;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-color: white;
    font-family: sans-serif;
    padding-left: 0.5%;  
}

.title h1 {
    text-align: center;
    font-size: 60px;
    margin: 1% 0;
}

/* -------------------- INTRO -------------------- */

.challenge {
    height: 100vh;
    width: 100vw;
    background-image: url(images/backgrounds/trophy.jpg);
    background-size: cover;
    overflow: hidden;
}

.challenge_not_visible {
    display: none;
}

.challenge h1 {
    font-size: 8vh;
    text-align: center;
    padding-top: 1%;
    color: #00cc00;
}

.options {
    height: 50vh;
    min-width: 15vw;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 3%;
    position: absolute;
    top: 25vh;
    left: 7vw;
    color: white;
}

.options:hover {
    background-color: white;
    color: #00cc00;
}

.options h2 {
    text-align: center;
}

.game_option {
    height: 8vh;
    min-width: 13em;
    background-color: rgba(0,204,0, 0.6);
    font-size: 3vh;
    text-align: center;
    line-height: 8vh;
    margin: 15% auto;
    border-radius: 15px;
    color: white;
}

.game_option:hover {
    background-color: rgb(0,204,0);
    color: white;
}

/* ---------------- CARDS ---------------- */

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.back .flip {
    display: none;
}

.remove {
    visibility: hidden;
}

/* -------------------- MASCOTS -------------------- */

.mascots_background {
    background-image: url(images/backgrounds/zabivaka.png);
    background-size: 35%;
}

.mascot_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 1vh;
    margin-right: 1vw;
    float: right;
    height: 24vh;
    width: 65vw;
}

.mascot_card {
    width: 15%;
    height: 100%;
    position: relative;

}

.mascot_card img {
    width: 100%;
    height: 100%;
    background-color: white;
}

/* -------------------- PLAYERS -------------------- */

.superstars_background {
    background-image: url(images/backgrounds/players.jpg);
    background-size: cover;
}

.superstar_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 1vh auto 5vh auto;
    width: 80vw;
    height: 24vh;
}

.superstar_row .card {
    background-color: white;
}

.superstar_card {
    width: 13%;
    height: 100%;
    position: relative;
    border: 3px solid gold;
}

.superstar_card img {
    width: 100%;
    height: 100%;
}

/* -------------------- CHAMPIONS -------------------- */

.champions_background {
    background-image: url(images/backgrounds/pele.png);
    background-size: 90vh;
}

.champion_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 1vh auto;
    width: 84vw;
    height: 20vh;
}

.champion_card {
    width: 24%;
    height: 100%;
    position: relative;
}

.champion_card img {
    width: 100%;
    height: 100%;
}

.result {
    z-index: 1;
    height: 25%;
    width: 40%;
    background: white;
    position: absolute;
    top: 40%;
    left: 29.3%;
    border: 5px solid green;
    border-radius: 25px;
    visibility: hidden;
    font-size: 30px;
    text-align: center;
    padding: 2%;
}

/* -------------------- PLAY AGAIN -------------------- */

.play_again {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.play_again_hidden {
    display: none;
}

.play_again_modal {
    height: 25%;
    width: 50%;
    background: white;
    position: relative;
    top: 34vh;
    left: 22vw;
    border: 1vh solid green;
    border-radius: 25px;
}

.play_again_modal h2 {
    text-align: center;
    font-size: 400%;
    margin-bottom: 5%;
}

.button_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.play_again_buttons {
    height: 25%;
    min-width: 30%;
    background-color: red;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: 140%;
    line-height: 200%;
}

/*.play_button, .change_button, .difficulty_button*/

/* ---------------- stats mascots ---------------- */

.stats {
    height: 85px;
    width: 800px;
    border: 5px solid red;
    border-radius: 25px;
    color: red;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position: absolute;
    left: 40%;
    top: 86%;
}

button {
    background: red;
    color: white;
    border: none;
    border-radius: 25px;
}

.games_played, .attempts, .accuracy {

}

/* ---------------- stats champions ---------------- */

/* -------------------- PORTRAIT OPTIONS -------------------- */

.portrait {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
    visibility: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    font-size: 300%;
    color: white;
    margin-bottom: 15%;
}

.portrait i {
    color: white;
    font-size: 50vmin;
    -webkit-animation-name: rotate; 
    animation-name: rotate;
    -webkit-animation-duration: 2s; 
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
   -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(90deg)}
}

/* -------------------- MEDIA QUERIES -------------------- */

@media only screen and (max-width: 825px){
    .title h1 {
        display: none;
    }

    .mascots_background {
        background-image: none;
        padding-top: 1%;
        padding-left: 1%;
    }

    .mascot_row {
        height: 31vh;
        width: 100vw;
    }

    .superstars_background {
        padding-top: 0.8%;
    }

    .superstar_row {
        width: 100vw;
        height: 28vh;
    }

    .champions_background {
        background-image: none;
        padding-top: 0.8%;
        padding-left: 0;
    }

    .champion_row {
        width: 100vw;
        height: 23vh;
    }
}